<template>
  <div
      class="cell"
      @click="$emit('motion', { index, sing: activeSing })"
  >
    {{ value }}
  </div>
</template>

<script>
export default {
  name: 'Cell',
  props: {
    index: {
      type: Number,
      default: 1,
    },
    value: {
      type: String,
      default: '',
    },
    activeSing: {
      type: String,
      default: '',
    },
  },
}
</script>

<style lang="scss">
$primary-color: #2c3e50;

.cell {
  font-family: 'Rock Salt', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 3);
  height: calc(100% / 3);
  border: solid 1px $primary-color;
  cursor: pointer;
  font-size: 28px;
}
</style>
