<template>
  <div class="playingField" :class="[winComb?.name]">
    <cell
        v-for="(cell, idx) in cellsList"
        :key="idx"
        :index="idx"
        :value="cell"
        :active-sing="activePlayer.sing"
        @motion="setNewMotion"
    />
  </div>
</template>

<script>
import Cell from '@/components/Cell';
export default {
  name: 'PlayingField',
  components: {
    Cell,
  },
  props: {
    firstPlayer: {
      type: Object,
      default: () => {},
    },
    twoPlayer: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      isFirstPlayer: true,
      cellsList: ['', '', '', '', '', '', '', '', ''],
      winCombinations: [
        { value: [0, 1, 2], name: 'top-row', },
        { value: [3, 4, 5], name: 'center-row', },
        { value: [6, 7, 8], name: 'bottom-row', },
        { value: [0, 3, 6], name: 'left-col', },
        { value: [1, 4, 7], name: 'center-col', },
        { value: [2, 5, 8], name: 'right-col', },
        { value: [0, 4, 8], name: 'left-diag', },
        { value: [2, 4, 6], name: 'right-diag', },
      ],
    }
  },
  computed: {
    activePlayer() {
      return this.isFirstPlayer ? this.firstPlayer : this.twoPlayer;
    },
    winComb() {
      return this.winCombinations.find(({ value }) => {
        const { cellsList } = this;
        const comparedArr = [];
        value.forEach(key => comparedArr.push(cellsList[key]));
        const uniqueArr = [...new Set(comparedArr)];

        return uniqueArr.length === 1 && uniqueArr[0];
      })
    },
  },
  watch: {
    winComb(){
      this.$emit('setWinner', this.activePlayer);
    },
  },
  methods: {
    setNewMotion({ index, sing }) {
      if (!this.cellsList[index] && !this.winComb) {
        this.cellsList[index] = sing;
        this.isFirstPlayer = !this.isFirstPlayer;
      }
    },
  },
};
</script>

<style lang="scss">
$primary-color: #2c3e50;

.playingField {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  height: 200px;
  border: solid 1px $primary-color;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    background-color: $primary-color;
  }

  &.top-row::before,
  &.center-row::before,
  &.bottom-row::before {
    height: 2px;
    width: auto;
    left: 5px;
    right: 5px;
  }

  &.top-row::before {
    top: calc(100% / 6 - 1px);
  }

  &.center-row::before {
    top: calc(100% / 2 - 1px);
  }

  &.bottom-row::before {
    bottom: calc(100% / 6 - 1px);
  }

  &.left-col::before,
  &.center-col::before,
  &.right-col::before {
    height: auto;
    width: 2px;
    top: 5px;
    bottom: 5px;
  }

  &.left-col::before {
    left: calc(100% / 6 - 1px);
  }

  &.center-col::before {
    left: calc(100% / 2 - 1px);
  }

  &.right-col::before {
    right: calc(100% / 6 - 1px);
  }

  &.left-diag::before,
  &.right-diag::before {
    height: 2px;
    width: auto;
    left: -30px;
    right: -30px;
    top: calc(50% - 1px);
  }

  &.left-diag::before {
    transform: rotate(45deg);
  }

  &.right-diag::before {
    transform: rotate(-45deg);
  }
}
</style>
