<template>
  <div
      v-if="!isEnteredPlayers"
      class="firstStep"
  >
    <p class="firstStep__title">To start the game, enter the names of the players</p>
    <input
        v-model="firstPlayer.name"
        type="text"
        placeholder="Add first player"
        class="input"
    >
    <input
        v-model="twoPlayer.name"
        type="text"
        placeholder="Add two player"
        class="input"
    >
    <button
        class="btn"
        @click="startGame"
    >
      Start game
    </button>
  </div>
  <div v-else class="twoStep">
    <div class="statistic">
      <div class="statistic__name">
        <span>{{ firstPlayer.name }} ({{ firstPlayer.sing }})</span> wins: {{ firstPlayer.wins }}
      </div>
      <div class="statistic__name">
        <span>{{ twoPlayer.name }} ({{ twoPlayer.sing }})</span> wins: {{ twoPlayer.wins }}
      </div>
    </div>
    <playing-field
        :first-player="firstPlayer"
        :two-player="twoPlayer"
        @setWinner="setWinner"
    />
  </div>
</template>

<script>
import PlayingField from '@/components/PlayingField';

export default {
  name: 'App',
  components: {
    PlayingField,
  },
  data() {
    return {
      isStartGame: false,
      firstPlayer: {
        name: '',
        sing: 'x',
        wins: 0,
      },
      twoPlayer: {
        name: '',
        sing: 'o',
        wins: 0,
      },
    };
  },
  computed: {
    isEnteredPlayers() {
      return this.firstPlayer.name && this.twoPlayer.name && this.isStartGame;
    }
  },
  methods: {
    startGame() {
      if (this.firstPlayer.name && this.twoPlayer.name) {
        this.isStartGame = true;
      }
    },
    setWinner(winner) {
      winner.sing === this.firstPlayer.sing ? this.firstPlayer.wins++ : this.twoPlayer.wins++
    },
  },
}
</script>

<style lang="scss">
$primary-color: #2c3e50;
$secondary-color: #3eaf7c;

@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $primary-color;
  margin-top: 60px;
}

* {
  box-sizing: border-box;
}

.firstStep {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 24px;
  }

  input:first-of-type {
    margin-bottom: 16px;
  }

  .btn {
    margin-top: 24px;
  }
}

.twoStep {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.input {
  border: solid 2px $primary-color;
  border-radius: 8px;
  height: 48px;
  max-width: 300px;
  width: 100%;
  padding: 0 16px;
  display: flex;
  align-items: center;
  font-size: 18px;
  outline: none;

  &:focus,
  &:focus-visible{
    border-color: $secondary-color;
  }
}

.btn {
  border-radius: 8px;
  height: 48px;
  max-width: 300px;
  width: 100%;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border: none;
  box-shadow: none;
  background-color: $secondary-color;
  color: #fff;
  cursor: pointer;
  transition: background-color ease-in .3s;

  &:hover {
    background-color: $primary-color;
  }
}

.statistic {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  max-width: 300px;
  width: 100%;

  &__name {
    font-size: 26px;
    font-weight: 600;
    text-align: left;
    display: flex;
    justify-content: space-between;
  }
}
</style>
